:root{
--Very-dark-blue:  hsl(233, 47%, 7%);
--Dark-desaturated-blue : hsl(244, 38%, 16%);
--Soft-violet : hsl(277, 64%, 61%);
--White: hsl(0, 0%, 100%);
--Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
--Slightly-transparent-white: hsla(0, 0%, 100%, 0.6);
--White : hsl(0, 0%, 100%);
--Slightly-transparent-white: hsla(0, 0%, 100%, 0.75);
--Slightly-transparent-white : hsla(0, 0%, 100%, 0.6);
}
@import url(https://fonts.google.com/specimen/Inter);

*{
font-family: 'Inter',sans-serif;
padding: 0;
margin: 0;
box-sizing: border-box;
}

body{
    background: var(--Very-dark-blue);
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    
}
.container{
 position: relative;
 min-height: 446px;
 min-width: 1000px;
 width: 40%;
 background: var(--Dark-desaturated-blue);
 display:grid;
 grid-template-columns: 1fr 2fr;
 border-radius: 20px;


}
.container .leftside{
    position: relative;
    background:var(--Dark-desaturated-blue) ;
    width: 1000px;
    padding-top: 70px;
    padding-left: 100px;
    border-radius: 20px;
    

}
.container .textbox{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-right: 60px;
    
}
.container .text{
    position: relative;
    width: 100%;
    height: 100%;
    border-top-right-radius: 10px;
}
.container .text h1 {
    margin-bottom: 20px;
    color: var(--White);
    font-Weight: 700
}
.textbox h1 span{
    color: var(--Soft-violet);
}
.textbox  p{
    color: var(--Slightly-transparent-white);
    font-weight: 500;
    
   
}
strong{
    color: var(--White);
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 150px;
}
strong .text1{
    position: relative;
    margin-right: 50px;
}
strong .text2{
    position: relative;
    margin-left: 20px;
}
strong .text3{
    position: relative;
    margin-left: 70px;
}
.text1 p,
.text2 p,
.text3 p{
    color: var(--Slightly-transparent-white);
}

.rightside{
    position: absolute;
    background: url(./images/image-header-desktop.jpg);
    object-fit: cover;
    background-repeat: no-repeat;
    top: 0;
    left: 720px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.rightside::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 54%;
    height: 100%;
    background: hsla(277, 94%, 30%, 0.6);
   border-radius: inherit;
    
}


.attribution{
    position: relative;
    top: 400px;
    right: 30%;
}


    

